extends: airbnb-base

plugins:
  - "@typescript-eslint"

env:
  es6: true
  node: true
  mocha: true

settings:
  import/resolver:
    node:
      extensions:
        - .js
        - .json
        - .ts

parser: "@typescript-eslint/parser"
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeature:
    module: true

rules:
  arrow-body-style: [error, always]
  class-methods-use-this: off
  consistent-return: off
  no-param-reassign: off
  no-plusplus: [error, { allowForLoopAfterthoughts: true }]
  no-underscore-dangle: off
  prefer-rest-params: off
  prefer-spread: off
  strict: [error, global]

  no-unused-vars: off
  "@typescript-eslint/no-unused-vars": error
